<div class="assignment" type="0">
    <h1 class="bold centered">Search</h1>
    <div class="assignment-counter">
        <button class="text-button add">[+]</button>
        <span class="assignment-count"></span>
        <button class="text-button subtract">[-]</button>
    </div>
</div>
<div class="assignment" type="1">
    <h1 class="bold centered">Scan</h1>
    <div class="assignment-counter">
        <button class="text-button add">[+]</button>
        <span class="assignment-count"></span>
        <button class="text-button subtract">[-]</button>
    </div>
</div>
<div class="assignment" type="2">
    <h1 class="bold centered">Purge</h1>
    <div class="assignment-counter">
        <button class="text-button add">[+]</button>
        <span class="assignment-count"></span>
        <button class="text-button subtract">[-]</button>
    </div>
</div>
<div class="assignment" type="3">
    <h1 class="bold centered">Siphon</h1>
    <div class="assignment-counter">
        <button class="text-button add">[+]</button>
        <span class="assignment-count"></span>
        <button class="text-button subtract">[-]</button>
    </div>
</div>