@use "../utils/variables";

:root {
    font-family: "Courier New";
    font-size: 16px;
    color: variables.$main-text;
}

.clickable {
    cursor: pointer;
    color: variables.$clickable-text;
    transition: color 250ms ease-in-out;

    &.active, &:hover, &:active {
        color: variables.$clickable-text-hover;
    }
}

.centered {
    text-align: center;
}