@charset "utf-8";

@use "base/fonts";
@use "base/reset";

@use "components/buttons";
@use "components/footer";
@use "components/links";
@use "components/modals";

@use "layout/cores";
@use "layout/disks";
@use "layout/hacks";
@use "layout/messages";
@use "layout/research";
@use "layout/settings";
@use "layout/stats";

@use "pages/index";

@use "utils/variables";