{
    "parser": "babel-eslint",
    "plugins": ["react", "react-hooks"],
    "extends": ["plugin:react/recommended"],
    "rules": {
        "react-hooks/rules-of-hooks": "warn",
        "react-hooks/exhaustive-deps": "warn",
        "react/prop-types": "off",
        "semi": ["warn", "always"],
        "quotes": ["warn", "double"],
        "no-multi-spaces": "warn",
        "no-multiple-empty-lines": ["warn", {
            "max": 1,
            "maxBOF": 0,
            "maxEOF": 0
        }]
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}