body {
    .hidden {
        display: none;
    }

    .invisible {
        visibility: hidden;
    }

    .centered {
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }
}