$main-text: #CCCCCC;
$main-bg: #111111;
$main-bg-hover: #1A1A1A;
$main-border: #777777;
$main-border-hover: #999999;

$offset-bg: #2B2B2B;
$offset-bg-hover: #333333;

$clickable-text: hsl(130, 60%, 60%);
$clickable-text-hover: hsl(130, 60%, 80%);
$clickable-text-error: hsl(0, 60%, 60%);
$clickable-text-error-hover: hsl(0, 60%, 80%);

:root {
    --clickable-text: hsl(130, 60%, 60%);
    --clickable-text-hover: hsl(130, 60%, 80%);
}