@use "../utils/variables";

body {
    display: flex;
    justify-content: center;
    background-color: variables.$main-bg;
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;

    #main-menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            padding: 0rem 5rem;
            border-bottom: 1px solid variables.$main-border;
            margin: 3rem 0rem 1.5rem;
        }

        button, a {
            width: 15rem;
            height: 3rem;
        }
    }

    #main-content {
        display: none;
        grid-template-columns: 350px 700px 350px;
        grid-template-rows: 140px;
        column-gap: 2rem;
        row-gap: 2rem;

        #messages {
            grid-column: 1;
            grid-row: 1 / 3;
        }

        #cores {
            grid-column: 2;
            grid-row: 1;
        }

        #research {
            grid-column: 3;
            grid-row: 1 / 3;
        }

        #disks {
            grid-column: 2;
            grid-row: 2;
        }
    }
}