@use "../utils/variables";

body {
    display: flex;
    justify-content: center;
    background-color: variables.$main-bg;
    box-sizing: border-box;
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;

    #main-menu {
        display: none;
        flex-direction: column;
        align-items: center;

        img.loading-anim {
            animation: start-anim 3000ms ease-in-out;
        }

        @keyframes start-anim {
            0% {
                transform: translateY(100%) scale(0);
            }
            33% {
                transform: translateY(100%) scale(1);
            }
            50% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(0%);
            }
        }

        h1 {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            padding: 0rem 5rem;
            border-bottom: 1px solid variables.$main-border;
            margin: 3rem 0rem 1.5rem;
        }

        button, a {
            width: 15rem;
            height: 3rem;
        }
    }

    #main-content {
        display: none;
        grid-template-columns: 350px 700px 350px;
        grid-template-rows: 140px 235px;
        column-gap: 2rem;
        row-gap: 2rem;

        #messages, #cores, #disks, #research, #channels, #data-core {
            display: none;
        }

        #messages {
            grid-column: 1;
            grid-row: 1 / 4;
        }

        #cores {
            grid-column: 2;
            grid-row: 1;
        }

        #disks {
            grid-column: 2;
            grid-row: 2;
        }

        #research {
            grid-column: 2;
            grid-row: 3;
        }
    }
}