<h1>Settings</h1>
<div class="color-picker">
    <span>Main color: </span>
    <input id="main-color" type="color">
    <span class="clickable-no-click">Example text</span>
</div>
<div class="color-picker">
    <span>Accent color: </span>
    <input id="accent-color" type="color">
    <span class="clickable-no-click active">Example text</span>
</div>
<br>
<div id="stop-searching-automatically">
    Stop searching automatically:
    <button class="text-button">Enabled</button>
    <button class="text-button active">Disabled</button>
</div>
<div id="poor-eyesight-features">
    Poor eyesight features:
    <button class="text-button">Enabled</button>
    <button class="text-button active">Disabled</button>
</div>
<div class="resets">
    <a id="reset-settings" class="clickable warning">Reset settings</a>
    <a id="restart-game" class="clickable warning">Restart game</a>
</div>
<button class="bordered">
    <span>Close</span>
</button>