@import "../mixins";
@import "../variables";

button {
    cursor: pointer;
}

.bordered-button {
    @include flex(column);
    @include transition(background-color, border-color);
    position: relative;
    color: var(--text);
    background-color: $bg;
    text-align: center;
    outline: none;
    padding: 0.5rem 0rem;
    border: 1px solid $offset-bg;

    + * {
        margin-top: 0.5rem;
    }

    &:hover, &:active, &:focus {
        color: var(--text-hover);
        background-color: $bg-hover;
        border-color: $offset-bg-hover;

        &:before, &:after, :first-child:before, :first-child:after {
            width: 10px;
            height: 10px;
            border-color: $border-hover;
        }
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:before, &:after, &:focus, :first-child:before, :first-child:after {
        @include transition(width, height, border-color);
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border: 1px solid $border;
    }

    &:before {
        top: -1px;
        left: -1px;
        border-width: 1px 0px 0px 1px;
    }

    &:after {
        top: -1px;
        right: -1px;
        border-width: 1px 1px 0px 0px;
    }

    :first-child {
        font-weight: bold;

        &:before {
            bottom: -1px;
            left: -1px;
            border-width: 0px 0px 1px 1px;
        }

        &:after {
            bottom: -1px;
            right: -1px;
            border-width: 0px 1px 1px 0px;
        }
    }
}