@use "../utils/variables";

button {
    cursor: pointer;
    outline: none;
    background-color: inherit;

    &:hover, &:active {
        :first-child {
            color: var(--clickable-text-hover);

            &.warning {
                color: variables.$clickable-text-error-hover;
            }
        }
    }

    &.text-button {
        color: var(--clickable-text);
        transition: color 250ms ease-in-out,
                    opacity 250ms ease-in-out;

        &:hover, &:active {
            color: var(--clickable-text-hover);
        }

        &:disabled {
            cursor: auto;
            opacity: 0.5;
            color: variables.$main-text;
        }
    }

    :first-child {
        color: var(--clickable-text);
        transition: color 250ms ease-in-out;

        &.warning {
            color: variables.$clickable-text-error;
        }
    }

    > * {
        cursor: pointer;
    }
}