a, a:visited {
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;

    > * {
        cursor: pointer;
    }

    &:hover, &:active {
        :first-child {
            color: var(--clickable-text-hover);
        }
    }

    :first-child {
        color: var(--clickable-text);
        transition: color 250ms ease-in-out;
    }
}