@use "../utils/variables";

.modal-container, .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
}

.modal-bg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}

.modal-content {
    z-index: 1;
    flex-direction: column;
    background-color: variables.$main-bg;
    padding: 2rem;
    border: 1px solid variables.$main-border;

    h1 {
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        width: 100%;
        border-bottom: 1px solid variables.$main-border;
        margin-bottom: 1.25rem;
    }

    button {
        align-self: center;
        padding: 0.5rem 1rem;
        margin-top: 1.25rem;
    }
}