@use "../utils/variables";

#cores {
    display: flex;
    flex-wrap: wrap;

    .core {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 50%;
        margin-bottom: 1rem;

        &:nth-child(3), &:nth-child(4) {
            margin: 1rem 0rem 0rem;
        }

        .core-info {
            margin-left: 1rem;
        }

        .core-button {
            color: var(--clickable-text);
            transition: color 250ms ease-in-out,
                        opacity 250ms ease-in-out;

            + button {
                margin-left: 0.5rem;
            }

            &:hover, &:active {
                color: var(--clickable-text-hover);
            }

            &:disabled {
                cursor: auto;
                opacity: 0.5;
                color: variables.$main-text;
            }
        }

        .cancel-button {
            color: variables.$clickable-text-error;

            &:hover, &:active {
                color: variables.$clickable-text-error-hover;
            }
        }
    }
}