@use "../utils/variables";

#cores {
    display: flex;
    flex-wrap: wrap;

    .core {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: 50%;
        margin-bottom: 1rem;

        &:nth-child(3), &:nth-child(4) {
            margin: 1rem 0rem 0rem;
        }

        .core-info {
            margin-left: 1rem;
        }

        .cancel-button:not(:disabled) {
            color: variables.$clickable-text-error;

            &:hover, &:active {
                color: variables.$clickable-text-error-hover;
            }
        }
    }
}