@use "../utils/variables";

#cores {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .core {
        position: relative;
        display: flex;
        align-items: center;
        width: 50%;
        margin-bottom: 1rem;

        .core-info {
            margin-left: 1rem;
        }

        .upgrade-button, .cancel-button {
            color: variables.$clickable-text;
            transition: color 250ms ease-in-out,
                        opacity 250ms ease-in-out;
            margin-right: 0.5rem;

            &:disabled {
                cursor: auto;
                opacity: 0.5;
                color: variables.$main-text;
            }
        }
    }
}