@use "../utils/variables";

#data-core {
    display: flex;
    flex-direction: column;
    align-items: center;

    canvas {
        padding: 0.5rem;
        border: 1px solid variables.$main-border;
        margin-top: 0.5rem;
    }
}