@use "../utils/variables";

.disks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 162px 55px;
    column-gap: 1.5rem;
    row-gap: 1.1rem;

    .disk-meters {
        display: flex;
        justify-content: space-around;
    }

    .disk-list {
        display: grid;
        grid-template-rows: inherit;
        row-gap: inherit;
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .drives, .quarantines {
        > span {
            display: none;
        }
    }

    .disk-view {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1 / 3;

        .header {
            transition: opacity 250ms ease-in-out,
                        color 250ms ease-in-out;
            align-self: center;

            &.disabled {
                opacity: 0.5;
            }
        }

        .subheader {
            display: flex;
            justify-content: space-between;
        }
    }

    .disk, .file, .disk-info {
        display: flex;
        justify-content: space-between;
    }

    .disk .disk-info {
        button {
            margin-right: 0.5rem;
        }

        span {
            text-align: right;
            width: 2.25rem;
        }
    }

    &.compact {
        display: flex;
        flex-direction: column;

        .disk-list {
            display: flex;
            justify-content: space-between;

            .drives, .quarantines {
                > span {
                    display: block;
                    width: 70%;
                    margin: 0rem auto 0.5rem;
                }
            }

            .drives {
                width: 75%;
            }

            .quarantines {
                width: 20%;
                margin-left: 5%;
            }

            .drive-list, .quarantine-list {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: flex-start;
                height: 36px;

                .disk {
                    align-items: center;

                    + .disk:not(:nth-child(2)) {
                        margin-left: 2.5rem;
                    }

                    &::before {
                        content: "";
                        background-color: var(--clickable-text);
                        border-radius: 50%;
                        width: 0.5rem;
                        height: 0.5rem;
                        margin-right: 0.5rem;
                    }

                    .disk-name, button {
                        display: none;
                    }
                }
            }
        }

        .disk-view {
            display: none;
        }
    }
}