@use "../utils/variables";

.disks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 162px 55px;
    column-gap: 1.5rem;
    row-gap: 1.1rem;

    .drives {
        grid-column: 1;
        grid-row: 1;
    }

    .quarantines {
        grid-column: 1;
        grid-row: 2;
    }

    .disk-view {
        display: flex;
        flex-direction: column;
        grid-column: 2;
        grid-row: 1 / 3;

        .header {
            transition: opacity 250ms ease-in-out,
                        color 250ms ease-in-out;
            align-self: center;

            &.disabled {
                opacity: 0.5;
            }
        }

        .subheader {
            display: flex;
            justify-content: space-between;
        }
    }

    .disk, .file, .disk-info {
        display: flex;
        justify-content: space-between;
    }

    .disk .disk-info {
        button {
            margin-right: 0.5rem;
        }

        span {
            text-align: right;
            width: 2.25rem;
        }
    }
}