@use "../utils/variables";

.hack-content {
    transition: border-color 250ms ease-in-out;

    &.success {
        border-color: variables.$clickable-text;
    }

    &.fail {
        border-color: variables.$clickable-text-error;
    }

    h1 {
        font-size: 1rem;
        font-weight: normal;
        width: 100%;
        height: 1.2rem;
        border-bottom: none;
        margin-bottom: 1rem;

        &.pretext-header {
            border-bottom: 1px solid variables.$main-border;
        }
    }

    table {
        border-collapse: collapse;

        td {
            text-align: center;
            box-sizing: border-box;
            transition: background-color 250ms ease-in-out;
            padding: 2rem;
            border: 1px solid variables.$main-border;

            &:hover, &:active, &.active, &.active-error {
                background-color: variables.$main-bg-hover;
            }
        }
    }

    a {
        margin-top: 1rem;
    }

    .pretext {
        max-width: 35rem;
        margin-bottom: 1rem;
    }
    
    .header {
        margin-bottom: 1rem;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li + li {
                margin-left: 1rem;
            }
        }
    }

    .hidden-passwords {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0rem;

        .text-line {
            cursor: default;
        }
    }
    
    .cryptogram {
        display: flex;
        justify-content: space-around;
        width: 100%;

        ol + ol {
            margin-left: 2rem;
        }

        li {
            cursor: pointer;

            + li {
                margin-top: 0.5rem;
            }
        }
    }
}