@use "../utils/variables";

.hack-content {
    transition: border-color 250ms ease-in-out;

    &.success {
        border-color: variables.$clickable-text;
    }

    &.fail {
        border-color: variables.$clickable-text-error;
    }

    h1 {
        font-size: 1rem;
        font-weight: normal;
        width: 100%;
        height: 1.2rem;
        border-bottom: none;
        margin-bottom: 1rem;

        &.pretext-header {
            font-size: 1.2rem;
            font-weight: bold;
            padding-bottom: 0.2rem;
            border-bottom: 1px solid variables.$main-border;
        }
    }

    table {
        border-collapse: collapse;

        td {
            text-align: center;
            box-sizing: border-box;
            transition: background-color 250ms ease-in-out;
            padding: 2rem;
            border: 1px solid variables.$main-border;

            &:hover, &:active, &.active, &.active-error {
                background-color: variables.$main-bg-hover;
            }
        }
    }

    a {
        margin-top: 1rem;
    }
    
    .header {
        margin-bottom: 1rem;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li + li {
                margin-left: 1rem;
            }
        }
    }

    .hidden-passwords {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0rem;

        .text-line {
            cursor: default;
        }

        p + p {
            margin-top: 0rem;
        }
    }
    
    .cryptogram {
        display: flex;
        justify-content: space-around;
        width: 100%;

        ol + ol {
            margin-left: 2rem;
        }

        li {
            cursor: pointer;

            + li {
                margin-top: 0.5rem;
            }
        }
    }

    .hex-matcher {
        display: flex;
        justify-content: space-between;
        width: 100%;

        ul {
            &:first-child {
                padding: 0rem 0.1rem 0rem 1rem;
            }

            &:last-child {
                padding: 0rem 1rem 0rem 0.1rem;
            }

            li {
                position: relative;
                overflow: visible;
                transition: color 250ms ease-in-out;

                &:before {
                    content: ">";
                    position: absolute;
                    color: variables.$main-text;
                    background-image: none;
                    transition: opacity 250ms ease-in-out;
                    opacity: 0;
                    width: auto;
                    height: auto;
                    left: -1rem;
                    bottom: auto;
                }

                &.selected, &.selection {
                    cursor: pointer;
                }

                &.selected:before {
                    opacity: 1;
                }

                &.selection {
                    cursor: pointer;
                    color: var(--clickable-text);

                    &:hover, &:active {
                        color: var(--clickable-text-hover);
                    }
                }

                + li {
                    margin-top: 1.5rem;
                }
            }
        }

        .connectors {
            flex-grow: 1;
        }
    }

    .log-mismatch {
        display: flex;

        ul {
            + ul {
                margin-left: 3rem;
            }

            li {
                + li {
                    margin-top: 1rem;
                }

                span.clickable:before {
                    display: none;
                }
            }
        }
    }

    .data-corruption {
        display: flex;

        ul {
            + ul {
                margin-left: 3rem;
            }

            li + li {
                margin-top: 0.5rem;
            }
        }
    }
}