@use "../utils/variables";

.settings-content {
    align-items: flex-start;
    padding: 1.5rem 2rem;

    div[id] + div[id] {
        margin-top: 0.35rem;
    }

    input {
        cursor: pointer;
        appearance: none;
        outline: none;
        border: none;
        background-color: #00000000;
        margin: 0rem 0.5rem;
    }

    button.text-button {
        padding: 0rem;
        margin: 0rem;
        
        + button {
            padding-left: 0.5rem;
            border-left: 1px solid variables.$main-border;
            margin-left: 0rem;
        }

        &.active {
            color: var(--clickable-text-hover);
            cursor: auto;
            font-weight: bold;
        }
    }

    .color-picker {
        display: flex;
        align-items: center;
    }

    .resets {
        align-self: center;
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        a + a {
            margin-left: 3rem;
        }
    }
}