@use "../utils/variables";

.stats-content {
    display: flex;
    max-width: 49rem;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > ul {
            justify-content: flex-start;
            flex-direction: column;
            width: 22rem;
            padding: 0rem 1rem 1rem;

            li {
                padding: 0rem 1rem;
            }
        }

        h2 {
            font-weight: bold;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid variables.$main-border;
            margin-bottom: 0.5rem;
        }
    }
}