<h1 class="pretext-header">Network Intrusion Detected</h1>
<p>Real time data stream monitoring has picked up an unknown user attempting to close a network channel!</p>
<p>
    If left unchecked the user may be able to
    <span class="clickable-no-click active-error">deny access to the channel</span>
    and any fragmented memory available on it.
</p>
<p>
    There is a
    <span class="clickable-no-click active-error">limited time span</span>
    before the channel is closed to find an admin code sequence and stop the shutdown.
</p>
<a class="clickable">Run counter-measures</a>