<h1 class="centered bold pretext-header">Quarantine Breach Detected</h1>
<p class="centered pretext">Real time quarantine monitoring has picked up an unknown number of files executing cracking functions!</p>
<p class="centered pretext">
    If left unchecked these files may damage the integrity of the quarantine drives and
    <span class="clickable-no-click active-error">allow other threats to escape</span>.
</p>
<p class="centered pretext">
    There is a
    <span class="clickable-no-click active-error">limited time span</span>
    where available containment functions will be effective...
</p>
<a class="clickable">Run counter-measures</a>